body{
    font-family: 'Prompt', sans-serif; 
    font-size: 20px;
    margin:0% ;
}
section{
    display: flex;
    margin-bottom: 50px;
}
.blue-colour{
    color: blueviolet;
}
.button{
    padding-top: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blueviolet,pink);
    padding: 10px 30px;
    border-radius:10px ;
}
.middle-area{
    display: flex;
    background-image: url(images/7.png);
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
}
.contianer-item{
    display: flex;
    justify-content: space-between;
}

   .dish-name{
       width: 30%;
       box-shadow: 10px 10px 40px gray;
    margin: 20px;
    padding: 20px;
    border-radius: 10px; 
   }
.dish-name img{
    width: 100%;
   
}
.image{
    border-radius: 10px;
}
.footer{
    color:red;
    text-align: center;
    background-color: black;
    width:- 30px;
    padding-top:5px ;
    padding-bottom: 7px;
}